.explore-container{
    display:flex;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #2c3335;
    height: calc(100vh - 20px);
}
.left-column{
    flex: 0.7;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
}
.first-row{
    flex:0.3;
    box-sizing: border-box;   
}
.horizontal-line {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #cccccc;   
}
.second-row {
    flex:0.7;
    box-sizing: border-box;
}
.right-column{
    flex: 0.3;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.cart-summary-container{
    flex: 0.3;
    border-top: 1px;
}

.cart-item{
    background-color: #2c2c2c;
    padding: 12px;
    border-radius: 8px;
}